
.button {
    background-color: lightseagreen;
    border: none;
    color: white;
    padding: 1px 50px;
    text-align: center;
    text-decoration: solid;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
